<div>
  <h1>Clientes</h1>
  <ul>
    <li *ngFor="let cliente of clientes">
      {{ cliente.nombre }} - {{ cliente.cedula }}
      <button (click)="deleteCliente(cliente.cedula)">Eliminar</button>
    </li>
  </ul>

  <h2>Crear Cliente</h2>
  <form (ngSubmit)="createCliente()">
    <label>
      Nombre:
      <input [(ngModel)]="newCliente.nombre" name="nombre" required>
    </label>
    <label>
      Cedula:
      <input [(ngModel)]="newCliente.cedula" name="cedula" required>
    </label>
    <label>
      Direccion:
      <input [(ngModel)]="newCliente.direccion" name="direccion" required>
    </label>
    <button type="submit">Crear</button>
  </form>
</div>



<form [formGroup]="clienteForm" *ngIf="selectedCliente">
  <label for="cedula">Cédula:</label>
  <input id="cedula" formControlName="cedula" type="text" />

  <label for="nombre">Nombre:</label>
  <input id="nombre" formControlName="nombre" type="text" />

  <label for="direccion">Dirección:</label>
  <input id="direccion" formControlName="direccion" type="text" />

  <button (click)="updateCliente()">Actualizar</button>
</form>