<div>
  <h1>Clientes</h1>
  <ul>
    <li *ngFor="let cliente of clientes">
      {{ cliente.nombre }} - {{ cliente.cedula }}
      <button (click)="deleteCliente(cliente.cedula)">Eliminar</button>
    </li>
  </ul>

  <h2>Crear Cliente</h2>
  <form (ngSubmit)="createCliente()">
    <label>
      Nombre:
      <input [(ngModel)]="newCliente.nombre" name="nombre" required>
    </label>
    <label>
      Cedula:
      <input [(ngModel)]="newCliente.cedula" name="cedula" required>
    </label>
    <label>
      Direccion:
      <input [(ngModel)]="newCliente.direccion" name="direccion" required>
    </label>
    <button type="submit">Crear</button>
  </form>
</div>


<form (ngSubmit)="updateCliente()">
  <input type="text" [(ngModel)]="updateClienteData.cedula" name="updateCedula" placeholder="Cédula" required >
  <input type="text" [(ngModel)]="updateClienteData.nombre" name="updateNombre" placeholder="Nombre" required>
  <input type="text" [(ngModel)]="updateClienteData.direccion" name="updateDireccion" placeholder="Dirección" required>
  <button type="submit">Actualizar Cliente</button>
</form>